<% pokemons.forEach(pokemon => { 
	
	let idString = pokemon.id.toString();
    if (idString.length < 3) {
    	idString = '0'.repeat(3 - idString.length) + idString;
	}
	let types = pokemon.type;
%>
<li>
	<poke-card>
		<a href="/pokemon/<%= idString %>">
			<article class="main">
				<title-section>
					<h5 class="strict-voice">#<%= idString %></h5>
					<picture>
						<img src="<%= pokemon.image.sprite %>" alt="">
					</picture>
				</title-section>
				<picture class="portrait">
					<img src="<%= pokemon.image.hires %>" alt="" loading="lazy">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</picture>
			</article>
		</a>
		<text-content>
			<h4 class="chant-voice"><strong><%= pokemon.name.english %></strong></h4>
			<div class="type-container">
				<% types.forEach(type => {%>
				<p class="pill small-voice type"><%= type %></p>
				<% }); %>
			</div>
			<p class="tiny-voice"><%= pokemon.description %></p>

		</text-content>
	</poke-card>
</li>
<% }); %>