<%- include ('../partials/header') %>

<section>
    <inner-column>
        <module>
            <ul>
                <% pokemons.forEach(poke => { %>
                <li>
                    <a href="/pokes/<%= poke.id %>">

                        <poke-card>
                            <picture>
                                <img src="<%= poke.image.hires %>" alt="" loading="lazy">
                            </picture>
                            <text-content>
                                <picture>
                                    <img src="<%= poke.image.sprite %>" alt="">
                                </picture>
                                <p><strong><%= poke.name.english %></strong></p>
                                <p class="tiny-voice"><em>[ The <%= poke.species %> ]</em></p>
                            </text-content>

                        </poke-card>

                    </a>
                </li>
                <% }); %>
            </ul>
        </module>
    </inner-column>
</section>


<%- include ('../partials/footer') %>